.Weather {
  background-color: rgba(255, 251, 233, 0.3);
  border: 1px solid #4ad3ff;
  border-radius: 6px;
  max-width: 750px;
  width: 100%;
  padding: 18px;
  text-align: center;
  color: rgb(57, 92, 90);
  font-family: Verdana;
}

.Weather h1 {
  font-size: 35px;
  margin: 10px 0 0 0;
}

input.form-control {
  background-color: hsla(36, 100%, 98%, 0.507);
  border-style: none;
}

.Weather ul {
  padding: 15px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  list-style: none;
  line-height: 1.5;
}

.Weather form {
  display: inline-block;
  max-width: 700px;
  
}
.Weather .temperature {
  /* font-weight: bold ; */
  font-size: 25px;
  line-height: 2px;
}

.Weather .units {
  position: relative;
  top: -10px;
}

.Weather canvas {
  padding: 0 15px;
  display: inline-block;
}

button {
  position: relative;
  padding: 8px;
  border: none;
  cursor: pointer;
}
button:active,
button:focus {
  outline: none;
}